*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-size: 16px;
    font-family: "poppins" ,serif;
    min-height: 100vh;
    overflow-x: hidden;
    width: 100vw;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
    color: white;
}
.link{
    margin: 0 300px;
    color: black;
    a{
        color: black;
    }
}
.register{
    width: 100%;
    background-color: rgb(246,243,243);
    // min-height: 315px;
   
}
.path{
    margin-left: 200px;
    color: black;
}
.box{
    max-width: 1200px;
    margin: 50px auto;
    display: flex;
    
}
.filter{
    // min-width: 290px;
    // max-width: 290px;
    width: 200px;
    flex-direction: column;
    // margin-right: 130px;
}
// input[type=number]{
//     width: 350px;
//     height: 35px;
//     display: inline-block;
// }

.qty input {
    padding: 0 20px;
    width: 350px;
    height: 35px;
}