.accordion{
    margin-top: 2rem;
    margin-left: 300px;
    max-width: 500px;
    margin-bottom: 3rem;
    &-header{
        padding: 20px;
        border-radius: 4px 4px 0 0;
        cursor: pointer;
        box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        *{
            pointer-events: none;
        }
    }
    &-content{
        border-top: 0;
        color: #333;
        font-size: 14px;
        font-weight: 300;
        line-height: 1.6;
        background-color: white;
        height: 0;
        overflow: hidden;
        transition: all 0.25s linear;
        &-inner{
            padding: 20px;
            border: 1px solid #eee;
        }
        &.is-active{
            height: auto;
        }
    }
    &-input{
        height: 2.5rem;
        outline: none;
        margin-bottom: 0.5rem;
        width: 300px;
    }
}