.footer{
    display: flex;
    justify-content: space-around;
    background-color: black;
    color: white;
    padding: 3rem 0;
    &-logo{
        display: flex;
        flex-direction: column;
        p{

            padding: 1rem 0;
        }
    }
    &-pay{
        max-width: 270px;
       p{
           padding: 1rem 0;
       }
    }
    &-support{
        &-list{
            display: flex;
            flex-direction: column;
        }
        &-item{
            padding-top: 1rem;
        }
    }
    &-email{
        display: flex;

    }
    &-input{
        width: 180px;
        height: 40px;
        padding-right: 20px;
        padding-left: 10px;
        outline: none;
        border: 1px solid white;
        font-family:"poppins", serif;
    }
}